body
{
	background-color:black;
}

#canvas , canvas
{

	margin:40px auto auto; 
	display: block;
	background-color:white;
}

#info
{
	width:200px;
	height:100px;
	margin:20px auto auto;
	background-color:white;
}	
